@import url(@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/* Headings and Logo */

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #080300;
    letter-spacing: 2.5px;
}

#logo {
    float: left;
    margin-left: 50px;
    font-size: 2.5rem;
    line-height: 100px;
}

#menu {
    float: right;
    margin-right: 50px;
    font-size: 1.25rem;

}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    list-style-type: none;
    float: left;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #080300;
    color: green;
}

#active-page {
    color: red;
}

/* Hero and Circle Image */

#div-container {
    width: 100%;
    height: 550px;
    position:relative;
    background-color: silver;
    clear:both;
}
#hero-container {
    width: 100%;
    height: 400px;
    background-color: blue;
}

#hero-image {

}

#circle-container {
    height: 250px;
    width: 250px;
    text-align: center;
    background-color: sandybrown;
    border-radius: 50%;
    position:absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);

}

#circle-image {

}