@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto&display=swap');

/* General Styling */

h1,
h2,
h3,
h4 {
    font-family: 'Abhaya Libre', serif;
    text-transform: uppercase;
    text-align: center;
    color: #100108;
    letter-spacing: 0.250rem;
}

p {
    font-size: 1.2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* General Classes */

.section-padding {
    padding-top: 1rem;
}

.header-style h2 {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Heading and Menu*/

#header-bg {
    height: 5rem;
    width: 100%;
    background-color: #f0c808;
}

#logo {
    float: left;
    margin: 0.8rem 0 0 3rem;
    font-size: 3.5rem;
}

#menu {
    float: right;
    margin-right: 3rem;
    font-size: 1.5rem;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 0.156em;

}

#menu li {
    list-style-type: none;
    float: left;
    padding: 0.5rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: white;
}

#active-page {
    border-bottom: 2px solid #080300;
}

/* Hero and Circle Image */

#hero-container {
    width: 100%;
    height: 34.375rem;
    position: relative;

}

#hero-image {
    width: 100%;
    height: 80%;
    background: url(../images/hero-image.jpeg) no-repeat center;
    background-size: cover;
}

#circle-container {
    height: 15.625rem;
    width: 15.625rem;
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -98%);
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
}

#circle-image {
    height: 100%;
    background: url(../images/circle-image.JPG) no-repeat center;
    border-radius: 50%;

}

/* About Us */

#about-us-container {
    width: 100%;
}

#about-us-container p {
    text-align: justify;
    font-style: italic;
    margin: 1.25rem 25rem 1.25rem 25rem;
}

#about-us-container a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

#about-us-container a:hover {
    color: #f0c808;
}

#about-us-bg {
    height: 27.5rem;
    width: 100%;
    object-fit: cover;
    clear: both;
    padding-top: 1rem;
    padding-bottom: 0;
    display: block;
}

/* Our Reasons for Travel */

#reason-container {
    height: auto;
    background-color: whitesmoke;
}

#reason-container p {
    font-style: italic;
    text-align: justify;
}

#reason-container span {
    font-weight: bold;
}

#reason-container h3 {
    background-color: #cf8432;
    color: #f7f3f3;
    padding: 1rem;
    font-size: 1.5rem;
}

#left-reason {
    width: 20%;
    height: auto;
    margin-left: 15rem;
    float: left;
    padding: 0.4rem;

}

#right-reason {
    width: 20%;
    height: auto;
    float: right;
    margin-right: 15rem;
    padding: 0.4rem;
}

#center-reason {
    width: 21%;
    height: auto;
    margin: auto;
    padding: 0.4rem;

}

/* Last Visited Maps*/

#last-visited-container {
    background: whitesmoke;
    padding-bottom: 3.5rem;
}

#maps-container iframe {
    width: 100%;
    height: 16rem;
    border: none;
    display: block;
}


/* Last Visited Video*/

#video-container {
    position: relative;
    width: 60rem;
    height: 33.75rem;
    margin: 2rem 0 0 10rem;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#video-paragraph {
    float: right;
    width: 20%;
    margin: 6rem 6.25rem 0 0;
    padding: 2rem;
}

#video-paragraph p {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.156rem;
}

/* Footer */

#content-container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 6.25rem;
}

#footer {
    height: 6.25rem;
    width: 100%;
    background-color: #f0c808;
    position: absolute;
    bottom: 0;
}

#footer h4 {
    margin: 0
}

#social-footer {
    text-align: center;
}

#social-footer li {
    display: inline;
}

#social-footer i {
    font-size: 300%;
    padding: 0 7.5rem 0 4.5rem;
    color: #100108;
}

/* Island Inspirations */

#island-inspirations {
    height: auto;
    background-color: #100108;
    padding-bottom: 3rem;
    color: white;
    overflow: hidden;
}

#island-inspirations h2 {
    padding: 2rem;
    color: white;
}

#video-maldives {
    float: left;
    position: relative;
    width: 50rem;
    height: 28.125rem;
    margin-left: 3.125rem;
}

#video-maldives iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#video-thailand {
    float: right;
    position: relative;
    width: 50rem;
    height: 28.125rem;
    margin-right: 3.125rem;
}

#video-thailand iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#island-inspirations figcaption {
    position: absolute;
    top: 29rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Scenery and Food Inspirations */

#scenery-inspirations {
    clear: both;

}

.image-container {
    clear: both;
    column-count: 3;
    column-gap: 5px;
}

.image-container img {
    width: 100%;
}

#food-inspirations {
    background-color: #080300;

}

#food-inspirations h2 {
    color: white;
}

/* Contact Us */

#form-container {
    height: 100vh;
    background: url(../images/contact-us-bg.jpeg) no-repeat center;
    background-size: cover;
    opacity: 0.8;
}

#form-details {
    margin: 10rem auto;
    width: 30rem;
    height: auto;
    background-color: RGBA(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 15px;
}

#form-details label {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: white;
    letter-spacing: 0.156rem;
    font-size: 1.2rem;
}

.form-input {
    color: inherit;
    width: 100%;
    height: 1.875rem;
    margin: 0.3125rem 0 1.25rem 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
}

#form-details input:focus,
textarea:focus {
    outline-style: none;
    border-color: #cf8432;
    box-shadow: 0 0 10px #cf8432;
}

#form-details textarea {
    width: 100%;
    height: 6.25rem;
    margin: 1.25rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
}

#form-details input[type=submit] {
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #080300;
    color: white;
}

#form-details input[type=submit]:hover {
    background-color: white;
    color: black;
}

/* Thank You */

#thank-you {
    margin: 15rem auto;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.15rem;
}

/* Media Queries */

/* Wide Screen Desktop */

@media only screen and (min-width: 1300px) and (max-width: 1550px) {
    /* General Classes */

    .header-style h2 {
        margin: 0.2rem;
        font-size: 2rem;
    }

    /* General Styling */

    p {
        font-size: 1rem;
    }

    /* Headings and Menu */

    #logo {
        margin: 1rem 0 0 3rem;
        font-size: 3rem;
    }

    #menu {
        margin: 0 3rem 0 0.5rem;
        font-size: 1.5rem;
    }

    /* About Us */

    #about-us-container p {
        margin: 1.25rem 20rem 1.25rem 20rem;
    }

    /* Our Reasons for Travel */

    #left-reason {
        margin-left: 10rem;
    }

    #right-reason {
        margin-right: 10rem;
    }

    #center-reason {
        width: 22%;
    }

    /* Last Place Visited */

    #video-paragraph {
        width: 20%;
        margin: 8rem 10rem 0 0;
        padding: 0;
    }

    #video-container {
        width: 50rem;
        height: 28.125rem;
        margin: 2rem 0 0 5rem;
    }

    /* Island Inspirations */

    #video-maldives {
        width: 37rem;
        height: 20.8125rem;
    }


    #video-thailand {
        width: 37rem;
        height: 20.8125rem;
    }

    #island-inspirations figcaption {
        top: 21.5rem;
        font-size: 1rem;
    }

}

/* Standard Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1299px) {

    /* General Classes */

    .section-padding {
        padding-top: 1rem;
    }

    .header-style h2 {
        margin: 0.2rem;
        font-size: 1.5rem;
    }

    /* General Styling */

    p {
        font-size: 1rem;
    }

    /* Headings and Menu */



    #logo {
        margin: 1rem 0 0 3rem;
        font-size: 2.5rem;
    }

    #menu {
        margin: 0 3rem 0 0.5rem;
        font-size: 1.2rem;
    }

    /* About Us */

    #about-us-container p {
        margin: 1.25rem 15rem 1.25rem 15rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        font-size: 1.2rem;
    }

    #left-reason {
        width: 25%;
        margin-left: 5rem;
    }

    #right-reason {
        width: 26%;
        margin-right: 5rem;
    }

    #center-reason {
        width: 25%;
    }

    /* Last Place Visited */

    #video-container {
        width: 55rem;
        height: 30.93rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 70%;
        margin: auto;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 250%;
        padding: 0 4rem 0 0;

    }

    /* Island Inspirations */

    #video-maldives {
        width: 30rem;
        height: 16.875rem;
        margin: 1rem auto 0 1rem;
    }


    #video-thailand {
        width: 30rem;
        height: 16.875rem;
        margin: 1rem 1rem 0 auto;
    }

    #island-inspirations figcaption {
        top: 17rem;
        font-size: 1rem;
    }

    /* Contact Us */

    #form-details {
        margin: 5rem auto;
        width: 50%;
        padding: 0.5rem;
    }

    #form-details label {
        font-size: 1rem;
    }

    .form-input {
        font-size: 1rem;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 1rem;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 1rem;
    }
}

/* iPad landscape */

@media only screen and (min-width: 900px) and (max-width: 1024px) and (orientation: landscape) {

    /* General Styling */

    h1,
    h2,
    h3,
    h5 {
        padding-bottom: 0.3rem;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* General Classes */

    .section-padding {
        padding-top: 2rem;
    }

    .header-style h2 {
        margin: 1rem;
        font-size: 1.5rem;
    }

    /* Headings and Menu */

    #header-bg {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    #logo {
        float: left;
        margin: 1.5rem 0 0 1rem;
        font-size: 2.5rem;
    }

    #menu {
        margin: 1.2rem 1rem 0 0.8rem;
        font-size: 1.2rem;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 0.12rem;

    }

    #menu ul {
        padding: 0;
    }

    #active-page {
        border-bottom: 1px solid #080300;
    }

    #menu li {
        padding: 0 0.2rem 0.2rem 0.2rem;
    }


    /* Hero and Circle Image */

    #hero-container {
        margin-top: 3.5rem;

    }

    #circle-container {
        height: 10rem;
        width: 10rem;
        padding: 0.5rem;
    }

    #circle-image {
        background-size: cover;

    }

    /* About Us */

    #about-us-container p {
        text-align: justify;
        font-style: italic;
        margin: 1rem 15rem 1rem 15rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        margin: 0;
        letter-spacing: 0.2rem;
    }

    #left-reason {
        width: 25%;
        margin: 0 auto 0 2rem;

    }

    #right-reason {
        width: 25%;
        margin: 0 2rem 0 auto;
    }

    #center-reason {
        width: 25%;
        margin: 0 auto 0 auto;

    }

    /* Last Place Visited */

    #video-container {
        width: 50rem;
        height: 28.125rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 70%;
        margin: 0 auto;
        padding: 0;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 200%;
        padding: 0 4rem 0 0;

    }

    /* Island Inspirations */

    #island-inspirations {
        margin-top: 2rem;
    }

    #video-maldives {
        width: 28rem;
        height: 15.75rem;
        margin: 0 2rem;
    }


    #video-thailand {
        width: 28rem;
        height: 15.75rem;
        margin: 0 2rem;
    }

    #island-inspirations figcaption {
        top: 16.5rem;
        font-size: 1.2rem;
    }

    /* Contact Us */


    #form-details {
        margin: 13rem auto;
        width: 40%;
        height: auto;
        padding: 0.5rem;
        border-radius: 15px;
    }

    #form-details label {
        font-size: 1rem;
    }

    .form-input {
        font-size: 1rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 1rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 1rem;
    }

}

/* Tablet Landscape and Smaller Desktop Screens */

@media only screen and (min-width: 700px) and (max-width:899px) and (orientation: landscape) {

    /* General Styling */

    h1,
    h2,
    h3,
    h5 {
        padding-bottom: 0.3rem;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* General Classes */

    .section-padding {
        padding-top: 1rem;
    }

    .header-style h2 {
        margin: 1rem;
        font-size: 2rem;
    }

    /* Headings and Menu */

    #header-bg {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    #logo {
        float: left;
        margin: 1.5rem 0 0 1rem;
        font-size: 3rem;
    }

    #menu {
        margin: 1.2rem 1rem 0 0.8rem;
        font-size: 1.5rem;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 0.12rem;

    }

    #menu ul {
        padding: 0;
    }

    #active-page {
        border-bottom: 1px solid #080300;
    }

    #menu li {
        padding: 0 0.2rem 0.2rem 0.2rem;
    }


    /* Hero and Circle Image */

    #hero-container {
        margin-top: 3.5rem;

    }

    #circle-container {
        height: 10rem;
        width: 10rem;
        padding: 0.5rem;
    }

    #circle-image {
        background-size: cover;

    }

    /* About Us */

    #about-us-container p {
        text-align: justify;
        font-style: italic;
        margin: 1rem 10rem 1rem 10rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        margin: 0;
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
    }

    #left-reason {
        width: 27%;
        margin: 0 auto 0 1rem;

    }

    #right-reason {
        width: 26%;
        margin: 0 1rem 0 auto;
    }

    #center-reason {
        width: 27%;
        margin: 0 auto 0 auto;

    }

    /* Last Place Visited */

    #video-container {
        width: 50rem;
        height: 28.125rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 70%;
        margin: 0 auto;
        padding: 0;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 200%;
        padding: 0 4rem 0 0;

    }

    /* Island Inspirations */

    #island-inspirations {
        margin-top: 2rem;
    }

    #video-maldives {
        float: none;
        width: 50rem;
        height: 28.125rem;
        margin: auto;
    }


    #video-thailand {
        float: none;
        width: 50rem;
        height: 28.125rem;
        margin: 2rem auto;
    }

    #island-inspirations figcaption {
        top: 21.5rem;
        font-size: 1.2rem;
    }

    /* Contact Us */

    #form-details {
        margin: 9.5rem auto;
        width: 40%;
        height: auto;
        padding: 0.5rem;
        border-radius: 15px;
    }

    #form-details label {
        font-size: 1rem;
    }

    .form-input {
        font-size: 1rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 1rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 1rem;
    }

}

/* Tablet Portrait */

@media only screen and (min-width: 681px) and (max-width: 1024px) {

    /* General Styling */

    h1,
    h2,
    h3,
    h5 {
        padding-bottom: 0.3rem;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* General Classes */

    .section-padding {
        padding-top: 1rem;
    }

    .header-style h2 {
        margin: 0.2rem;
        font-size: 1.5rem;
    }

    /* Headings and Menu */

    #header-bg {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    #logo {
        float: left;
        margin: 1.8rem 0 0 1rem;
        font-size: 2rem;
    }

    #menu {
        margin: 0.8rem 2rem 0 0.8rem;
        font-size: 1.3rem;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 0.12rem;
    }

    #menu ul {
        padding: 0;
    }

    #active-page {
        border-bottom: 1px solid #080300;
    }

    #menu li {
        padding: 0 0.2rem 0.2rem 0.2rem;
    }


    /* Hero and Circle Image */

    #hero-container {
        margin-top: 3.5rem;

    }

    #circle-container {
        height: 10rem;
        width: 10rem;
        padding: 0.5rem;
    }

    #circle-image {
        background-size: cover;

    }

    /* About Us */

    #about-us-container p {
        text-align: justify;
        font-style: italic;
        margin: 1rem 10rem 1rem 10rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        margin: 0;
        letter-spacing: 0.2rem;
        font-size: 1rem;
    }

    #left-reason {
        width: 27%;
        margin: 0 1rem;

    }

    #right-reason {
        width: 27%;
        margin: 0 1rem;

    }

    #center-reason {
        width: 27%;
        margin: 0 auto;
    }

    /* Last Place Visited */

    #video-container {
        width: 40rem;
        height: 22.5rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 80%;
        margin: auto;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 250%;
        padding: 0 4rem 0 0;

    }

    /* Island Inspirations */

    #island-inspirations {
        margin-top: 2rem;
    }

    #video-maldives {
        float: none;
        width: 40rem;
        height: 22.5rem;
        margin: 0 auto;
    }


    #video-thailand {
        float: none;
        width: 40rem;
        height: 23rem;
        margin: 3rem auto;
    }

    #island-inspirations figcaption {
        top: 23.5rem;
        font-size: 1.2rem;
    }

    /* Contact Us */

    #form-details {
        margin: 10rem auto;
        width: 65%;
        height: auto;
        padding: 0.5rem;
        border-radius: 15px;
    }

    #form-details label {
        font-size: 1rem;
    }

    .form-input {
        font-size: 1rem;
        width: 98%;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 1rem;
        width: 98%;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 1rem;
    }

}

/* Smartphone Large Landscape */

@media only screen and (min-width: 680px) and (max-height:550px) and (orientation: landscape) {

    /* General Styling */

    h1,
    h2,
    h3,
    h5 {
        padding-bottom: 0.3rem;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* General Classes */

    .section-padding {
        padding-top: 1rem;
    }

    .header-style h2 {
        margin: 0.2rem;
        font-size: 1.5rem;
    }

    /* Headings and Menu */

    #header-bg {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    #logo {
        float: left;
        margin: 2rem 0 0 1rem;
        font-size: 2rem;
    }

    #menu {
        margin: 1.2rem 1rem 0 0.8rem;
        font-size: 1.2rem;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 0.12rem;

    }

    #menu ul {
        padding: 0;
    }

    #active-page {
        border-bottom: 1px solid #080300;
    }

    #menu li {
        padding: 0 0.2rem 0.2rem 0.2rem;
    }


    /* Hero and Circle Image */

    #hero-container {
        margin-top: 3.5rem;

    }

    #circle-container {
        height: 10rem;
        width: 10rem;
        padding: 0.5rem;
    }

    #circle-image {
        background-size: cover;

    }

    /* About Us */

    #about-us-container p {
        text-align: justify;
        font-style: italic;
        margin: 1rem 4rem 1rem 4rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        margin: 0;
        letter-spacing: 0.2rem;
        font-size: 1rem;
    }

    #left-reason {
        width: 25%;
        margin: 0 2rem;


    }

    #right-reason {
        width: 25%;
        margin: 0 2rem;


    }

    #center-reason {
        width: 25%;
        margin: auto;

    }

    /* Last Place Visited */

    #video-container {
        width: 40rem;
        height: 22.5rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 80%;
        margin: auto;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 250%;
        padding: 0 4rem 0 0;

    }

    /* Island Inspirations */

    #island-inspirations {
        margin-top: 2rem;
    }

    #video-maldives {
        float: none;
        width: 40rem;
        height: 22.5rem;
        margin: 0 auto;
    }


    #video-thailand {
        float: none;
        width: 40rem;
        height: 22.5rem;
        margin: 3rem auto;
    }

    #island-inspirations figcaption {
        top: 22.5rem;
        font-size: 1.2rem;
    }

    /* Contact Us */

    #form-container {
        height: 30rem;
    }

    #form-details {
        margin: 6.5rem auto;
        width: 60%;
        height: auto;
        padding: 0.5rem;
        border-radius: 15px;
    }

    #form-details label {
        font-size: 0.8rem;
    }

    .form-input {
        font-size: 0.8rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 0.8rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 0.8rem;
    }

}

/* Smartphone Landscape */

@media only screen and (min-width: 320px) and (max-width: 679px) and (orientation: landscape) {

    /* General Styling */

    h1,
    h2,
    h3,
    h5 {
        padding-bottom: 0.3rem;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* General Classes */

    .section-padding {
        padding-top: 1rem;
    }

    .header-style h2 {
        margin: 0.2rem;
        font-size: 1.5rem;
    }

    /* Headings and Menu */

    #header-bg {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    #logo {
        float: left;
        margin: 2rem 0 0 1rem;
        font-size: 1.5rem;
    }

    #menu {
        margin: 1.2rem 1rem 0 0.8rem;
        font-size: 1rem;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 0.12rem;

    }

    #menu ul {
        padding: 0;
    }

    #active-page {
        border-bottom: 1px solid #080300;
    }

    #menu li {
        padding: 0 0.2rem 0.2rem 0.2rem;
    }


    /* Hero and Circle Image */

    #hero-container {
        margin-top: 3.5rem;

    }

    #circle-container {
        height: 10rem;
        width: 10rem;
        padding: 0.5rem;
    }

    #circle-image {
        background-size: cover;

    }

    /* About Us */

    #about-us-container p {
        text-align: justify;
        font-style: italic;
        margin: 1rem 4rem 1rem 4rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        margin: 0;
        letter-spacing: 0.2rem;
    }

    #left-reason {
        clear: both;
        width: 70%;
        margin: auto;
        float: none;

    }

    #right-reason {
        clear: both;
        width: 70%;
        margin: auto;
        float: none;

    }

    #center-reason {
        clear: both;
        width: 70%;
        margin: auto;

    }

    /* Last Place Visited */

    #video-container {
        width: 30rem;
        height: 16.875rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 80%;
        margin: auto;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 200%;
        padding: 0 4rem 0 0;

    }

    /* Island Inspirations */

    #island-inspirations {
        margin-top: 2rem;
    }

    #video-maldives {
        float: none;
        width: 30rem;
        height: 16.875rem;
        margin: 0 auto;
    }


    #video-thailand {
        float: none;
        width: 30rem;
        height: 16.875rem;
        margin: 3rem auto;
    }

    #island-inspirations figcaption {
        top: 17.5rem;
        font-size: 1.2rem;
    }

    /* Contact Us */

    #form-container {
        height: 30rem;
    }

    #form-details {
        margin: 6.5rem auto;
        width: 80%;
        height: auto;
        padding: 0.5rem;
        border-radius: 15px;
    }

    #form-details label {
        font-size: 0.8rem;
    }

    .form-input {
        font-size: 0.8rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 0.8rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 0.8rem;
    }

}

/* Smartphone Portrait */

@media only screen and (min-width: 320px) and (max-width: 700px) and (orientation: portrait) {

    /* General Styling */

    h1,
    h2,
    h3,
    h5 {
        padding-bottom: 0.3rem;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 1rem;
    }

    /* General Classes */

    .section-padding {
        padding-top: 1rem;
    }

    .header-style h2 {
        margin: 0.2rem;
        font-size: 1.5rem;
    }

    /* Headings and Menu */

    #header-bg {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    #logo {
        float: left;
        margin: 0.8rem 0 0 1rem;
        font-size: 1.5rem;
    }

    #menu {
        float: none;
        margin: 0 0 0 0.5rem;
        font-size: 1rem;
        font-family: 'Abhaya Libre', serif;
        letter-spacing: 0.12rem;
        clear: left;

    }

    #menu ul {
        padding: 0;
    }

    #active-page {
        border-bottom: 1px solid #080300;
    }

    #menu li {
        padding: 0 0.2rem 0.2rem 0.2rem;
    }


    /* Hero and Circle Image */

    #hero-container {
        margin-top: 3.5rem;

    }

    #circle-container {
        height: 10rem;
        width: 10rem;
        padding: 0.5rem;
    }

    #circle-image {
        background-size: cover;

    }

    /* About Us */

    #about-us-container p {
        text-align: justify;
        font-style: italic;
        margin: 1rem 4rem 1rem 4rem;
    }

    /* Our Reasons for Travel */

    #reason-container h3 {
        margin: 0;
        letter-spacing: 0.2rem;
    }

    #left-reason {
        clear: both;
        width: 80%;
        margin: auto;
        float: none;

    }

    #right-reason {
        clear: both;
        width: 80%;
        margin: auto;
        float: none;

    }

    #center-reason {
        clear: both;
        width: 80%;
        margin: auto;

    }

    /* Last Place Visited */

    #video-container {
        width: 19rem;
        height: 10.6875rem;
        margin: auto;
    }

    #video-paragraph {
        float: none;
        width: 80%;
        margin: auto;
        padding: 0.5rem;
        letter-spacing: 0.2rem;
        display: block;
    }

    /* Footer */

    #social-footer i {
        font-size: 200%;
        padding: 0 3rem 0 0;

    }

    /* Island Inspirations */

    #island-inspirations {
        margin-top: 2rem;
    }

    #video-maldives {
        float: none;
        width: 19rem;
        height: 10.6875rem;
        margin: 0 auto;
    }


    #video-thailand {
        float: none;
        width: 19rem;
        height: 10.6875rem;
        margin: 3rem auto;
    }

    #island-inspirations figcaption {
        top: 11.5rem;
        font-size: 1.2rem;
    }

    /* Contact Us */


    #form-details {
        margin: 8rem auto;
        width: 80%;
        height: auto;
        padding: 0.5rem;
        border-radius: 15px;
    }

    #form-details label {
        font-size: 1rem;
    }

    .form-input {
        font-size: 1rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details textarea {
        font-size: 1rem;
        width: 95%;
        margin: 0.5rem auto;
    }

    #form-details input[type=submit] {
        font-size: 1rem;
    }
}